.card {
  background: var(--card-bg);
  border: 0.1rem solid var(--page-bg);
  padding: 0.25rem;
  box-shadow: var(--shadow);
  color: var(--text);
  margin-top: 0.5rem;
  text-decoration: none;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
}

.card__link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 12px;
  /*border-radius:10px;*/
  /*background:var(--link-bg);*/
  font-weight: 600;
  transition: transform 120ms ease;
}

.card__title .u {
  text-decoration: none;
}

.card:hover,
.card:focus {
  outline: none;
  background: var(--text);
  color: var(--bg);
}

.card__icon {
  width: 22px;
  display: inline-grid;
  place-items: center;
  color: var(--text);
}

@media (prefers-reduced-motion: reduce) {
  .card__link {
    transition: none;
    transform: none;
    text-decoration: none;
  }
}